@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');
@theme {
  --color-dark-bg: #3d3d3d;
  --color-english-violet: #39304a;
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-dark-bg text-white font-sans antialiased;
}